<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar container is-max-desktop">
      <h1 class="title">Users</h1>
    </nav>
    <table class="table container is-fullwidth is-striped" id="list">
      <tbody>
        <% users.forEach(user => {%>
          <tr>
            <td><%= user.username %></td>
            <form action="http://localhost:3000/api/followers/add/<%= userid %>/<%=user.id%>" method="POST">
              <td><input type="submit" class="button"/></td>
            </form>
          </tr>
        <%}) %>
      </tbody>
    </table>
  </body>
</html>
